@font-face {
    font-family: 'pokemon-font';
    src: url('../fonts/pokemon-font.eot'); /* IE9 Compat Modes */
    src: url('../fonts/pokemon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pokemon-font.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pokemon-font.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/pokemon-font.ttf')  format('truetype') /* Safari, Android, iOS */
    /* There is no SVG version of this font due to support being dropped in SVG 2 */
  }



  /* FIRST DIV IS CORRECT SECOND DIV NEEDS FLOATS FLIPPED NEED TO MAKE AN ID AND TURN  */
.playerBattle {
    position: relative;
    overflow: hidden;
    height: 39vh;
    width: 100%;
}

.right {
    float: right;
}

.left {
    float: left;
}

#yourSprite {
    left: 8%;
    width: 20em;
    bottom: -40%;
    height: 20em;
    position: absolute;
}

#oppSprite {
    right: 10%;
    width: 17em;
    bottom: -20%;
    height: 17em;
    position: absolute;
}

#battleContainer {
    background-image: url(../img/background.png);
    background-size: 95% 85%;
    background-repeat: repeat;
    height: 100%;
}

.battleCard {
    width: 35%;
    border-radius: 0.5em;
    display: inline-block;
    background-color: #FFFEE5;
    border: 0.25em solid black;
}

.battleCard p {
    color: black;
    font-size: 1rem;
    letter-spacing: .05em;
    font-family: 'pokemon-font';
    text-shadow: 1px 1px 1.5px white;
}

.battlCard img {
    margin-left: 0.25em;
}

#topSide {
    height: 6em;
    margin-top: 3em;
    margin-left: 6em;
}

#bottomSide {
    height: 8em;
    margin-top: 6.5em;
    margin-right: 6em;
}

.battleCardName {
    margin-left: 1.25em;
    display: inline-block;
}

.lvl {
    float: right;
    margin-right: 1.5em;
    display: inline-block;
}

/* .currentHealthBar {
    width: 65%;
    float: right;
    height: 0.75em;
    margin-top: 0.15em;
    margin-right: 0.75em;
    border-radius: 30px;
    margin-bottom: 0.2em;
    margin-left: 8em;
    border: 3px solid black;
    background-color: #93CBA3;
} */

.currentHealth {
    float: right;
    margin-right: 1.5em;
    margin-top: 0;
    text-shadow: 1px 1px 1.5px black;
}

.bar {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: white;
}

.rightBar {
    color: #858585;
    font-family: 'pokemon-font';
}

.rightBorder {
    width: 46.25%;
    height: 8.64em;
    vertical-align: top;
    display: inline-block;
    background-color: white;
    border: 0.75em solid #6F768F;
}

.leftBar {
    color: white;
    font-size: 1.5rem;
    font-family: 'pokemon-font';
    border-radius: 100px;
    text-shadow: 1px 1px 1.5px black;
}

.leftBar p {
    margin-left: 2em;
}

.leftBorder {
    width: 50%;
    height: 8.64em;
    vertical-align: top;
    display: inline-block;
    background-color: #62ABA4;
    border: 0.75em solid #6F768F;
}

.button {
    color: #5C5C5C;
    margin-top: 3%;
    text-align: left;
    margin-bottom: 3%;
    margin-left: 20%; 
    width: 25%;
    font-size: 1.5rem;
    font-family: 'pokemon-font';
    background-color: none;
    border: none;
    cursor: pointer;
}

.attackButton {
    color: #5C5C5C;
    margin-top: 3%;
    text-align: left;
    margin-bottom: 3%;
    margin-left: 8%; 
    width: 40%;
    background: none;
    font-size: 1.15rem;
    font-family: 'pokemon-font';
    background-color: none;
    border: none;
    cursor: pointer;
}

.attackText {
    color: #5C5C5C;
    margin-top: 3%;
    text-align: left;
    margin-left: 8%;
    width: 100%;
    font-size: 1.15rem;
    font-family: 'pokemon-font';
    text-shadow: none;
}


.currentHealthBar {
    width: 65%;
    float: right;
    height: 0.75em;
    margin-top: 0.15em;
    margin-right: 0.75em;
    border-radius: 30px;
    margin-bottom: 0.2em;
    margin-left: 8em;
    overflow: hidden;
    border: 3px solid black;
}

#oppUpdatedHealthBar {
    width: 100%;
    border-radius: 30px;
    height: inherit;
    position: relative;
    background-color: #93CBA3;
}

#playerUpdatedHealthBar {
    width: 100%;
    border-radius: 30px;
    height: inherit;
    position: relative;
    background-color: #93CBA3;
}
