@font-face {
    font-family: 'pokemon-font';
    src: url('../fonts/pokemon-font.eot'); /* IE9 Compat Modes */
    src: url('../fonts/pokemon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pokemon-font.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pokemon-font.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/pokemon-font.ttf')  format('truetype') /* Safari, Android, iOS */
    /* There is no SVG version of this font due to support being dropped in SVG 2 */
  }



  /* FIRST DIV IS CORRECT SECOND DIV NEEDS FLOATS FLIPPED NEED TO MAKE AN ID AND TURN  */

.left {
    float: left;
}

.playerBattle {
    position: relative;
    height: 15.7em;
}

.right {
    float: right;
}
/* 
.spiritDiv {
    float: right;
} */

.spriteDiv img {
    height: 10em;
    width: 10em;

}

#battleContainer {
    background-color: #E0FFDB;
    height: 100%;
}

.battleCard {
    width: 30%;
    height: 15%;
    margin-left: 1em;
    border-radius: 0.5em;
    display: inline-block;
    background-color: #FFFEE5;
    border: 0.25em solid black;
}

.battleCard p {
    color: black;
    font-size: 1em;
    padding-bottom: .25em;
    letter-spacing: .05em;;
    font-family: 'pokemon-font';
    text-shadow: 1px 1px 1.5px white;
}

.battlCard img {
    height: 50em;
    width: 50em;
}

.bar {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: white;
}

.attackBar {
    width: 40%;
    height: 5em;
    color: #858585;
    display: inline-block;
    background-color: white;
    font-family: 'pokemon-font';
    border: 0.5em solid #6F768F;
}

.textBar {
    width: 40%;
    height: 5em;
    color: white;
    font-size: 1.5em; 
    vertical-align: top;
    display: inline-block;
    font-family: 'pokemon-font';
    background-color: #62ABA4;
    border: 0.5em solid #6F768F;
    text-shadow: 1px 1px 1.5px black;
}

.textBar p {
    margin-left: 1em;
}