@font-face {
    font-family: 'pokemon-font';
    src: url('../fonts/pokemon-font.eot'); /* IE9 Compat Modes */
    src: url('../fonts/pokemon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pokemon-font.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pokemon-font.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/pokemon-font.ttf')  format('truetype') /* Safari, Android, iOS */
    /* There is no SVG version of this font due to support being dropped in SVG 2 */
  }

.container {
    padding-top: 4%;
    padding-bottom: 4%;
}

#create {
    margin-bottom: 2.75%;
    margin-top: 1%;
}

#create, #confirm {
    margin-left: 40%;
    width: 20%;
    height: 2.5em;
    font-size: 1.5rem;
    border-radius: 30em;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1.5px black;
    border: 0.3em solid #0D5FBA;
    background-color: #FFCA06;
}

#create:hover, #confirm:hover {
    background-color: #0D5FBA;
    cursor: pointer;
}

.pokemonName {
    display: inline-block;
    padding-left: .1em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.pokemonBox1, .pokemonBox2 {

    width: 45%;
    height: 15%;
    opacity: 0.75;
    margin-left: 1em;
    border-radius: 5%;
    display: inline-block;
    border: 0.20em solid green;
    background-image: linear-gradient(darkGreen, lightGreen);
}

.pokemonBox1 p, .pokemonBox2 p {
    color: white;
    font-size: 0.9em;
    padding-bottom: .25em;
    letter-spacing: .05em;;
    text-shadow: 1px 1px 1.5px black;
}

.pokemonBox1:hover {
    cursor: pointer;
}

.sprite {
    float: left;
    width: 5em;
    height: 5em;
    margin-left: 0.5em;
}

#team1, #team2 {
    width: 45%;
    margin-bottom: 4%;
    display: inline-block;
}

#team1 {
    margin-left: 1em;
}

#team2 {
    margin-left: 5em;
}

.gender {
    width: 1em;
    height: 1em;
    float: right;
    padding-top: 1em;
    padding-right: 1em;
}

.health {
    margin: 0 0 0 13em;
    text-shadow: 1px 1px 1.5px black;
}

.healthBar {
    width: 9em;
    height: 0.75em;
    margin-top: 0.15em;
    border-radius: 30px;
    margin-bottom: 0.05em;
    display: inline-block;
    border: 3px solid black;
    background-color: #93CBA3;
}

.row0, .row1, .row2 {
    display: block;
    margin-bottom: 1em;
}

.teamH1 {
      color: white;
      text-align: center;
      text-shadow: 1px 1px 1.5px black;
}